.MenuSuperior{
    background-color: brown;
    text-align: center;
}

.menutext{
    font-size:20px;
    font-weight: bold;
    text-align: center;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none; }

    .faixasuperior{
        width: ;
        height: ;
    }